# dependencies
*node_modules
/.vscode
*coverage
*jest.config.js
*mochawesome-report
*.DS_Store
*allure-report
*allure-results
/.idea
/test-results/
*playwright-report/
*blob-report/
*playwright/.cache/
*.tmp/
*reports/